@use "../util" as u;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: var(--font-sm);
  background-color: var(--offWhite);

  &.noscroll {
    overflow: hidden;
  }
}

button {
  cursor: pointer;
  background-color: var(--softRed);
  color: var(--offWhite);
  font-family: inherit;
  font-size: u.rem(14);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: u.rem(5);
  outline: none;
  border: none;
  padding: u.rem(18) u.rem(32);
  margin-bottom: u.rem(64);
  transition: all 300ms ease-in-out;

  @include u.breakpoint-up(large) {
    margin-bottom: 0;
  }

  &:hover {
    background-color: var(--veryDarkBlue);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.padding {
  padding: u.rem(28) u.rem(16);

  @include u.breakpoint-up(large) {
    padding: u.rem(90) u.rem(300);
  }
}
