@use "../util" as u;

:root {
  // Colors
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
  --veryDarkBlue: hsl(240, 100%, 5%);
  --white: hsl(0, 0%, 100%);

  // Font Sizes
  --font-sm: #{u.rem(15)}; // 15px
  --font-med: 1.125rem; // 18px
  --font-lg: 1.25rem;
  --font-xlg: 3.25rem;
}
