@use "./util" as u;

.header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
  }

  &.open {
    .header__toggle {
      span:first-child {
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__logo {
    img {
      @include u.breakpoint-down(medium) {
        width: u.rem(46);
        height: u.rem(30);
      }
    }
  }
  &__links {
    list-style: none;

    @include u.breakpoint-down(medium) {
      display: none;
    }

    li {
      display: inline;
    }

    li:not(:last-child) {
      margin-right: u.rem(38);
    }
  }
  &__toggle {
    z-index: 1;

    span {
      display: block;
      background-color: black;
      height: 3px;
      width: 35px;
      transition: all 300ms ease-in-out;
      transform-origin: 6px 2px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    @include u.breakpoint-up(large) {
      display: none;
    }
  }

  &__menu {
    background: var(--offWhite);
    height: 100vh;
    padding-top: u.rem(120);
    padding-right: 8rem;
    padding-left: 1rem;
    position: absolute;
    right: 0;
    top: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li:not(:last-child) {
        margin-bottom: u.rem(18);
      }

      a {
        color: var(--veryDarkBlue);
        font-size: u.rem(18);
        font-weight: 500;
      }
    }

    @include u.breakpoint-up(large) {
      display: none;
    }
  }
}
